@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: roc-grotesk, sans-serif; 
        font-size: 16px;
        padding:0;
        margin: 1em 1em;
        background-color: theme('colors.black');
        color: theme('colors.white');
    }
    h1,h2{
        @apply font-Roc-wide text-2xl sm:text-3xl;
    }
    h3,h4{
        @apply font-Roc-wide xs:text-lg sm:text-2xl;
    }
 
  }

