@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-width: 360px;
    max-width: 2500px;
    font-family: roc-grotesk, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0 auto;
    background-color: theme("colors.black");
    color: theme("colors.white");
  }
  h1 {
    @apply font-Roc-wide text-5xl leading-10  md:text-7xl;
  }

  h2 {
    @apply font-Roc-wide text-2xl sm:text-3xl md:text-4xl;
  }
  h3 {
    @apply font-Roc-wide xs:text-xl sm:text-2xl lg:text-3xl;
  }

  h4 {
    @apply font-Roc-wide xs:text-xl sm:text-xl lg:text-2xl;
  }

  #__next {
    margin: 1em 1em;
  }
}
@layer components {
    .hero {
        height: 100vh;
    }
    .loader {
       @apply m-0 p-0

    }
    .loader-inner {
      @apply xs:flex flex-wrap justify-around items-center md:block

    }
    .loader-inner span {
        @apply leading-3 xs:text-8xl md:text-9xl xl:text-10xl;
     
     
   
      
    }
    .logo {
        @apply font-Roc-wide text-2xl sm:text-3xl
    }
    
}